#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  margin: 1em;
  border-radius: 10px;
}

.summary-box {
  background-color: #16213e;
  padding: 15px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 400px;
}